<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGeneratedKeys获取数据库自增主键-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列标签(数据库字段)替换列别名(查询语句的变量)-->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转换：将有下划线的列替换为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

	<typeAliases>
		<package name="com.lanhangbao.ecable.bean"/>
	</typeAliases>


    <plugins>
        <!--设置自定义拦截器-->
        <plugin interceptor="com.lanhangbao.mysql.ecable.mysql.DynamicDataSourceInterceptor"></plugin>
    </plugins>

</configuration>

